<div class="footer-backdrop is-hidden" data-modal>
  <div class="footer-modal">
    <section class="modal__header__footer">
      <div class="button-wrapper">
        <a
          class="github__btn"
          href="https://github.com/AlexCanDoIt/goit-js-team-project/"
          target="_blank"
          >GitHub</a
        >
        <button class="modal__btn__footer" data-modal-close aria-label="Close this dialog window">
          Назад
        </button>
      </div>
    </section>
    <section class="modal__content__footer">
      <div class="grid-container">
        <li class="students-item">
          <a href="https://github.com/AlexCanDoIt" target="_blank" class="grid-cell">
            <img src="https://avatars.githubusercontent.com/u/65185579?v=4" class="grid-cell-top" />
            <p class="grid-cell-name">
              Alexey <br />
              Storozhuk
            </p>
          </a>
        </li>
        <li class="students-item">
          <a href="https://github.com/tanya-pavlova" target="_blank" class="grid-cell">
            <img src="https://avatars.githubusercontent.com/u/70815370?v=4" class="grid-cell-top" />
            <p class="grid-cell-name">
              Tanya <br />
              Pavlova
            </p>
          </a>
        </li>
        <li class="students-item">
          <a href="https://github.com/Anna8805" target="_blank" class="grid-cell">
            <img src="https://avatars.githubusercontent.com/u/70779231?v=4" class="grid-cell-top" />
            <p class="grid-cell-name">
              Anna <br />
              Nikitina
            </p>
          </a>
        </li>
        <li class="students-item">
          <a href="https://https://github.com/Sergo03" target="_blank" class="grid-cell">
            <img src="https://avatars.githubusercontent.com/u/17271106?v=4" class="grid-cell-top" />
            <p class="grid-cell-name">
              Sergey <br />
              Karpynskyi
            </p>
          </a>
        </li>
        <li class="students-item">
          <a href="https://github.com/Denis-Ozolin" target="_blank" class="grid-cell">
            <img src="https://avatars.githubusercontent.com/u/63650405?v=4" class="grid-cell-top" />
            <p class="grid-cell-name">
              Denys<br />
              Ozolin
            </p>
          </a>
        </li>
        <li class="students-item">
          <a href="https://github.com/IanaKarpenko" target="_blank" class="grid-cell">
            <img src="https://avatars.githubusercontent.com/u/70866015?v=4" class="grid-cell-top" />
            <p class="grid-cell-name">
              Iana <br />
              Karpenko
            </p>
          </a>
        </li>
        <li class="students-item">
          <a href="https://github.com/akopanskiy" target="_blank" class="grid-cell">
            <img
              src="https://avatars.githubusercontent.com/u/64098748?s=400&v=4"
              class="grid-cell-top"
            />
            <p class="grid-cell-name">
              Andrii <br />
              Kopanskiy
            </p>
          </a>
        </li>
        <li class="students-item">
          <a href="https://github.com/Vladimir-Plotnikov" target="_blank" class="grid-cell">
            <img src="https://avatars.githubusercontent.com/u/71009993?v=4" class="grid-cell-top" />
            <p class="grid-cell-name">
              Vladimir<br />
              Plotnikov
            </p>
          </a>
        </li>
        <li class="students-item">
          <span href="https://" target="_blank" class="grid-cell">
            <img
            src=https://4.bp.blogspot.com/-z3ofGJnwjuE/W4wpFQedYUI/AAAAAAAAAXY/IzRI0hfYTgUvHSXckxXXIHDmpiDP5VEQgCLcBGAs/s1600/%25D0%25B7%25D0%25BD%25D0%25B0%25D0%25BA%2B%25D0%25BF%25D0%25B8%25D1%2582.jpg"
            class="grid-cell-top" />
            <p class="grid-cell-name">
              Here could<br />
              be your face !!!)
            </p>
          </span>
        </li>
        <li class="students-item">
          <a href="https://goit.ua/" target="_blank" class="grid-cell">
            <img
              src="https://s.dou.ua/CACHE/images/img/static/companies/logo_orange_h-1000/e676ae4b3607309201a9e6366452c20b.png"
              class="grid-cell-top"
            />
            <p class="grid-cell-name">
              Click<br />
              here
            </p>
          </a>
        </li>
      </div>
    </section>
    <section class="footer__modal__footer">
      <div>
        <span class="orange">GoIT </span>

        <span class="modal__title-Footer">Students</span>
      </div>
    </section>
  </div>
</div>
